/node_modules
/nbproject
/gocaution_crm
/public/hot
/public/js/chunks
/public/js/main.js
/public/storage
/public/Login/assets/js/
/public/Login/assets/styles/
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
/gocaution_crm/nbproject/private/
