

.login-main .t3-login .login-form-module .other-links {
  margin-bottom: 0;
}

.login-main .t3-login .login-form-module .other-links::before,
.login-main .t3-login .login-form-module .other-links::after {
  content: " ";
  display: table;
}

.login-main .t3-login .login-form-module .other-links ul {
  padding-left: 0;
  list-style: none;
}

.login-main .t3-login .login-form-module .other-links ul {
  list-style: none;
}

.login-main div.t3-wrapper.t3-login-wrap {
  padding-top: 0;
}

.login-main div.t3-wrapper {
  padding-top: 180px;
  position: inherit;
}

.login-main .t3-login .logo-image {
  background-color: #8dbf43;
  height: 80px;
  line-height: 80px;
  border-radius: 5px 5px 0px 0px;
}

.login-main .text-center {
  text-align: center;
}

.login-main div.t3-wrapper.t3-login-wrap {
  padding-top: 0;
}

.login-main div.t3-wrapper {
  padding-top: 180px;
  position: inherit;
}

.login-main .t3-login {
  padding-top: 80px;
  padding-bottom: 80px;
}

.login-main .t3-login > div {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.login-main .t3-login .login-form-module .login-wrap,
.login-main .t3-login .login-form-module .remind,
.login-main .t3-login .login-form-module .reset,
.login-main .t3-login .login-form-module .registration fieldset,
.login-main .t3-login .login-form-module .profile,
.login-main .t3-login .login-form-module .logout,
.login-main .t3-login .login-form-module .profile-edit {
  padding: 20px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 1px 0px 0px #d4d5d6;
  box-shadow: 0px 1px 0px 0px #d4d5d6;
}

.login-main h1,
.login-main .h1,
.login-main h2,
.login-main .h2,
.login-main h3,
.login-main .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-main h1,
.login-main h2,
.login-main h3,
.login-main h4,
.login-main h5,
.login-main h6,
.login-main .h1,
.login-main .h2,
.login-main .h3,
.login-main .h4,
.login-main .h5,
.login-main .h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.1;
  color: #292c35;
}

.login-main hr {
  margin-top: 15px;
  margin-bottom: 18px;
  border: 0;
  border-top-color: currentcolor;
  border-top-style: none;
  border-top-width: 0px;
  border-top: 1px solid #ebeef0;
}

.login-main .t3-login .login-form-module .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}

.login-main .form-group {
  margin-bottom: 0px;
}

.login-main .t3-login .login-form-module .form-horizontal .form-group .control-label {
  text-align: left;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}


.login-main .star {
  color: #ffcc00;
}

.login-main .t3-login .login-form-module .form-horizontal .form-group .control-label + div {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.login-main .t3-login .logo-image {
  background-color: #8dbf43;
  height: 80px;
  line-height: 80px;
  border-radius: 5px 5px 0px 0px;
}

.login-main .logo-image {
  line-height: 60px;
}

.login-main .logo-image span,
.login-main .logo-image small {
  display: none;
}

.login-main .dropdown-toggle::after {
  display: none;
}

.login-main h4,
.login-main .h4 {
  font-size: 17px;
}

.login-main .modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.login-main .language-dropdown a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}

.login-main .language-dropdown a:hover,
.login-main .language-dropdown a:focus,
.login-main .language-dropdown li.active a {
  color: #056938;
}

html,
body,
div.t3-wrapper.t3-login-wrap,
.login-main .t3-login {
  height: 100%;
  min-height: 800px;
}

.login-main .t3-login {
  padding: 0;
}

.login-main .t3-login .login-form-module .login-wrap {
  border-radius: 0px;
  padding: 0 0 100px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.login-main .login-grid {
  height: 100%;
  padding: 0;
}

.login-main .column-flexible {
  width: 100%;
  display: block;
  background: #8DBF42;
  padding: 95px 75px 0;
  color: #ffffff;
  position: relative;
}

.login-main .column-flexible h1 {
  color: #ffffff;
  font-size: 33px;
}

.login-main .column-flexible .fixed-response > img {
  margin: 24px 3% 0 0;
  width: auto;
  display: block;
  max-height: 55%;
  position: absolute;
  right: 1%;
  bottom: 1%;
  max-width: 93%;
}

.login-main .position-absolute {
  position: absolute;
  right: 5px;
  top: 16px;
}

.login-main .position-absolute .dropdown-menu {
  left: auto;
  right: 0;
}

.login-main .t3-login .logo-image {
  background: transparent;
  width: auto;
  height: auto;
  border-radius: 0;
}

.login-main .t3-login .modal-header {
  background: #056937;
  border-radius: 5px 5px 0 0;
}

.login-main .t3-login .modal-header .close {
  padding: 3px 7px;
  border-radius: 20px;
  background: #8ebf43;
  position: absolute;
  right: 10px;
}



.login-main .t3-login .login-form-module .reset,
.login-main .t3-login .login-form-module .remind {
  background: transparent;
  padding: 0 0 100px;
}

.login-main .column-fixed .users-back-button {
  display: inline-block;
  margin-bottom: 20px;
}

.login-main .reset .form-validate p,
.login-main .remind .form-validate p {
  background: #455a64;
  color: #FFFFFF;
}

.login-main h3.login-top-title {
  color: #ffffff;
  background: #066938;
  padding: 15px;
  margin-top: 66px;
  font-size: 13px;
  text-align: center;
}

.login-main .t3-login .modal-title {
  color: #ffffff;
}

.login-main .red-alert {
  color: #ff0000;
}

.login-main .reset-btn {
  padding-left: 0px;
  padding-right: 0px;
}

@media (min-width: 768px) {
  .login-main .login-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #8cbf413d;
  }

  .login-main .column-fixed {
    min-width: 254px;
    margin: 0 72px;
    width: 254px;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
  }

  .login-main .Site-content {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .login-main .t3-login .login-form-module .login-wrap {
    min-width: 254px;
  }

  .login-main .t3-login .login-form-module .reset {
    margin-top: 40px;
  }

  .login-main .t3-login #system-message-container .alert {
    margin: 50px 5px 5px;
    width: 254px;
    font-size: 11px;
    text-align: center;
  }
}

@media all and (max-width: 767px) {
  .login-main .column-fixed {
    width: 100%;
    display: block;
  }

  .login-main .mb-shift {
    text-align: center;
    font-size: 9px;
    padding-bottom: 20px;
  }

  .login-main .column-flexible .fixed-response > img {
    position: relative;
  }

  .login-main .t3-login .login-form-module .login-wrap {
    padding: 25px 20px 10px;
  }

  .login-main .t3-login .login-form-module .reset,
  .login-main .t3-login .login-form-module .remind {
    padding: 25px 20px 20px;
    background: #8cbf413d;
  }

  .login-main .column-flexible h1 {
    font-size: 20px;
  }

  .login-main h3.login-top-title {
    margin-top: 0;
  }

  .login-main .login-bottom-block.visible-xs {
    background: #ffffff;
    color: #646566;
    margin: 20px -20px 0;
  }

  .login-main .login-header-block.visible-xs {
    background: #8ebf43;
    padding: 5px 20px;
  }

  .login-main .t3-login .login-header-block .logo-image {
    line-height: 45px;
  }

  .login-main .t3-login #system-message-container .alert {
    margin: 5px;
    width: auto;
  }
}

.login-main h1,
.login-main h2,
.login-main h3,
.login-main h4,
.login-main h5,
.login-main h6,
.login-main .h1,
.login-main .h2,
.login-main .h3,
.login-main .h4,
.login-main .h5,
.login-main .h6 {
  font-family: "Exo";
}

.login-main .selectpicker.lang {
  margin-bottom: 20px;
  background: #fff url(/images/icon-select.png?71f3c522fb9d0e2fae8364d9268c982c) no-repeat right center;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*==============================*/

.login-main .row {
  -ms-flex-wrap: inherit;
  flex-wrap: inherit;
}

.login-main {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.53846154;
  color: #646566;
  background-color: #f4f5f6;
  letter-spacing: 0;
}


.login-main .selectpicker.lang {
  margin-bottom: 20px;
  background: #fff url(/images/icon-select.png?71f3c522fb9d0e2fae8364d9268c982c) no-repeat right center;
  -moz-appearance: none;
  -webkit-appearance: none;
}



.login-main .form-horizontal .radio,
.login-main .form-horizontal .checkbox {
  min-height: 27px;
  padding-left: 0;
}


.login-main .visible-xs,
.login-main .visible-sm,
.login-main .visible-md,
.login-main .visible-lg {
  display: none;
}

.login-main .fade:not(.show) {
  opacity: 1;
}

.login-main .modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.login-main .modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.login-main .modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}

.login-main .help-block {
  color: #a4a5a6;
}

.login-main .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #a4a5a6;
}

.login-main .modal-open {
  overflow: hidden;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.login-main .language-dropdown .open > .dropdown-menu {
  display: block;
}

.login-main .language-dropdown .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.53846154;
  color: #333333;
  white-space: nowrap;
  font-size: 13px;
}

.login-main .language-dropdown .dropdown-menu > li > a:hover,
.login-main .language-dropdown .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.login-main .language-dropdown .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.login-main .language-dropdown .btn .caret {
  margin-left: 0;
  position: relative;
  left: 3px;
}

.login-main .logo-img {
  width: 150px;
}

/*Dropdown*/

.cstm-dropdown {
  position: relative;
}

.cstm-dropdown a {
  margin-bottom: 20px;
  background: #fff url(/images/icon-select.png?71f3c52…) no-repeat right center;
  color: #555555;
  width: 100%;
  display: block;
  padding: 10px 12px;
}

.cstm-dropdown a:hover,
.cstm-dropdown a:focus {
  color: currentcolor;
  box-shadow: none;
}

.cstm-dropdown .fa {
  float: right;
}

/*List*/

.cstm-dropdown ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 41px;
  background: #fff;
  width: 100%;
  z-index: 99;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cstm-dropdown li {
  padding: 10px 12px;
  cursor: pointer;
  list-style: none;
}

span.flag-icon {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: -1px;
}

/* dropdown css ends */

/* vendor css 21/05 */

html body {
  overflow-y: auto;
}

form.needs-validation.no-cross.was-validated .form-control:invalid,
form.needs-validation.no-cross.was-validated .form-control:valid {
  background-image: none;
}


.login-main .column-flexible .promo-inner .custom p {
  margin-bottom: 10px;
}

.login-main .mx-15 {
  max-width: 18px;
  margin-right: 3px;
}

.login-main .mR-5 {
  margin-right: 5px;
}

.form-control:focus{
  border-color: transparent;
}

.login-main .login-grid {
  background: #E4F1D5;
}

.login-main .forgot-grid {
  background: #DBEACE;
}

.login-main .pB-5 {
  padding-bottom: 8px;
}
.login-main .login-support {
  text-align: center;
  font-size: 15px;
}

.login-main .address-content {
  text-align: center;
  font-size: 9px;
  margin-bottom: 20px;
}

.login-main .dropdown-toggle {
  text-transform: uppercase;
}

.login-main .msg-login-forgot {
  background: #455a64;
  color: #FFFFFF;
  border: 1px solid #ebeef0;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
}

.login-main .msg-login-forgot > p {
  margin-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.pt-7 {
  padding-top: 7px;
}

.pt-41 {
  padding-top: 41px;
}

.login-main .border-bot {
  border-bottom: 1px solid #d4d5d6;
}

.fade.show {
  opacity: 1;
}

.popover-body {
  padding: 0.5rem 0.75rem;
  color: #646566;
  font-size: 13px;
  line-height: 1.6;
}

h3.popover-header {
  margin: 0;
}

.login-main .login-support p.log-support {
  margin-bottom: 0;
}

.login-main .users-back-button > i {
  max-width: 14px;
  margin-right: 2px;
}

.input-wrapper {
  margin-bottom: 15px;
}
.btn-success {
    background-color: #8dbf43;
    border-color: #8dbf43;
}
.btn-success:hover{
  border-color: #066938;
  background-color: #066938;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
.btn:focus, .btn:hover, .btn.active, .btn:visited {
  box-shadow: none;
}
@media (max-width: 767px) {
  .login-main .visible-xs {
    display: block;
  }

  .login-main .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .login-main br.hidden-xs {
    display: none;
  }

  .login-main .login-bottom-block.visible-xs {
    background: #ffffff;
    color: #646566;
    margin: 20px -20px 0;
  }

  .login-main .column-flexible {
    padding: 20px 20px 0;
  }

  .position-absolute a.btn.dropdown-toggle {
    padding: 5px 3px;
    margin-right: 17px;
  }

  .login-main .position-absolute {
    right: 0px;
    top: 14px;
  }

  .login-main .mx-15 {
    max-width: 18px;
    margin-right: 2px;
  }

  .login-bottom-block.hidden-xs {
    display: none;
  }

  .login-main .other-links.form-group.pt-41 {
    padding-top: 0;
  }

  .login-main .mob-pb-10 {
    padding-bottom: 10px;
  }
}

@media (min-width: 768px) {
  .login-main .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

@media only screen and (max-width: 375px) {
  .language-dropdown .btn.dropdown-toggle {
    padding: 2px 10px 0 0;
  }
}
