a{
  color: #8dbf43;
}
a:hover, a:focus{
  color: #066938;
}

.login-wrapper .login-inner-wrapper .login-form-module .other-links {
  margin-bottom: 0;
}

.login-wrapper .login-inner-wrapper .login-form-module .other-links::before,
.login-wrapper .login-inner-wrapper .login-form-module .other-links::after {
  content: " ";
  display: table;
}

.login-wrapper .login-inner-wrapper .login-form-module .other-links ul {
  padding-left: 0;
  list-style: none;
}
.login-wrapper div.page-wrapper{
  position: inherit;
  padding-top: 0;
}

.login-wrapper .login-inner-wrapper > div {
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.login-wrapper .login-inner-wrapper .login-form-module .login-wrap,
.login-wrapper .login-inner-wrapper .login-form-module .reset,
.login-wrapper .login-inner-wrapper .login-form-module .logout{
  padding: 20px;
  background: #ffffff;
  border-radius: 0px 0px 5px 5px;
  -webkit-box-shadow: 0px 1px 0px 0px #d4d5d6;
  box-shadow: 0px 1px 0px 0px #d4d5d6;
}

.login-wrapper h1,
.login-wrapper .h1,
.login-wrapper h2,
.login-wrapper .h2,
.login-wrapper h3,
.login-wrapper .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.login-wrapper h1,
.login-wrapper h2,
.login-wrapper h3,
.login-wrapper h4,
.login-wrapper h5,
.login-wrapper h6,
.login-wrapper .h1,
.login-wrapper .h2,
.login-wrapper .h3,
.login-wrapper .h4,
.login-wrapper .h5,
.login-wrapper .h6 {
  font-family: "Exo";
  font-weight: 400;
  line-height: 1.1;
  color: #292c35;

}
.login-wrapper hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ebeef0;
}
.login-wrapper .login-inner-wrapper .login-form-module .form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.login-wrapper .form-group {
  margin-bottom: 0px;
}
.login-wrapper .star {
  color: #ffcc00;
}
.login-wrapper .dropdown-toggle::after {
  display: none;
}
.login-wrapper h4,
.login-wrapper .h4 {
  font-size: 17px;
}
.login-wrapper .language-dropdown a {
  color: #ffffff;
  font-size: 11px;
  font-weight: bold;
}
html, body, div.page-wrapper.login_panel, .login-inner-wrapper {
  height: 100%;
  background: #ffffff;
  min-height: 700px;
}
.login-wrapper .login-inner-wrapper {
  padding: 0;
}
.login-wrapper .login-inner-wrapper .login-form-module .login-wrap {
  border-radius: 0px;
  padding: 0 0 100px;
  background: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;

}
.mt4{margin-top:34px;}
.login-wrapper .login-grid {
  height: 100%;
  padding: 0;
}
.login-wrapper .column-flexible {
  width: 100%;
  display: block;
  background: #8DBF42;
  padding: 95px 75px 0;
  color: #ffffff;
  position: relative;
}
.login-wrapper .column-flexible h1 {
  color: #ffffff;
  font-size: 33px;
}
.login-wrapper .column-flexible .fixed-response > img {
  margin: 24px 3% 0 0;
  width: auto;
  display: block;
  max-height: 55%;
  position: absolute;
  right: 1%;
  bottom: 1%;
  max-width: 93%;
}
.login-wrapper .position-absolute {
  right: 5px;
  top: 16px;
}
.login-wrapper .position-absolute .dropdown-menu {
  left: auto;
  right: 0;
}
.login-wrapper .column-fixed .users-back-button {
  display: inline-block;
  margin-bottom: 20px;
}
.login-wrap.border-bot p{
  border: 1px solid #ebeef0;
  margin-bottom: 20px;
  padding: 10px 20px;
  border-radius: 4px;
  background: #455a64;
  color: #FFFFFF
}
.login-wrapper h3.login-top-title {
  color: #ffffff;
  background: #066938;
  padding: 15px;
  margin-top: 68px;
  font-size: 13px;
  text-align: center;
}
.login-wrapper .red-alert {
  color: #ff0000;
}
.login-wrapper .reset-btn {
  padding-left: 0px;
  padding-right: 0px;
}
/*==============================*/

.login-wrapper {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  line-height: 1.53846154;
  color: #646566;
  background-color: #f4f5f6;
  letter-spacing: 0;
}
.login-wrapper .form-horizontal .radio,
.login-wrapper .form-horizontal .checkbox {
  min-height: 27px;
  padding-left: 0;
}


.login-wrapper .visible-xs,
.login-wrapper .visible-sm,
.login-wrapper .visible-md,
.login-wrapper .visible-lg {
  display: none;
}

.login-wrapper .fade:not(.show) {
  opacity: 1;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.login-wrapper .language-dropdown .open > .dropdown-menu {
  display: block;
}

.login-wrapper .language-dropdown .dropdown-menu > li > a {
  display: block;
  padding: 5px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.53846154;
  color: #333333;
  white-space: nowrap;
  font-size: 13px;
}

.login-wrapper .language-dropdown .dropdown-menu > li > a:hover,
.login-wrapper .language-dropdown .dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.login-wrapper .language-dropdown .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.login-wrapper .language-dropdown .btn .caret {
  margin-left: 0;
  position: relative;
  left: 3px;
}

.login-wrapper .logo-img {
  width: 150px;
}
/* vendor css 21/05 */

html body {
  overflow-y: auto;
}

form.needs-validation.no-cross.was-validated .form-control:invalid,
form.needs-validation.no-cross.was-validated .form-control:valid {
  background-image: none;
}


.login-wrapper .column-flexible .promo-inner .custom p {
  margin-bottom: 10px;
}

.login-wrapper .mx-15 {
  max-width: 18px;
  margin-right: 3px;
}

.login-wrapper .mR-5 {
  margin-right: 5px;
}

.form-control:focus{
  border-color: transparent;
}

.login-wrapper .login-grid {
  background: #E4F1D5;
}

.login-wrapper .forgot-grid {
  background: #DBEACE;
}

.login-wrapper .pB-5 {
  padding-bottom: 8px;
}
.login-wrapper .login-support {
  text-align: center;
  font-size: 15px;
}

.login-wrapper .address-content {
  text-align: center;
  font-size: 9px;
  margin-bottom: 20px;
}

.login-wrapper .dropdown-toggle {
  text-transform: uppercase;
}

.pt-0 {
  padding-top: 0;
}

.pt-7 {
  padding-top: 7px;
}

.pt-25 {
  padding-top: 25px;
}

.login-wrapper .border-bot {
  border-bottom: 1px solid #d4d5d6;
}

.fade.show {
  opacity: 1;
}

.login-wrapper .login-support p.log-support {
  margin-bottom: 0;
}
.input-wrapper {
  margin-bottom: 15px;
}
.btn-success {
  background-color: #8dbf43;
  border-color: #8dbf43;
}
.btn-success:hover{
  border-color: #066938;
  background-color: #066938;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: none;
}
.btn:focus, .btn:hover, .btn.active, .btn:visited {
  box-shadow: none;
}
.btn.color-triplet{
  color: #333!important;
}
.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.login-inner-wrapper .logo-image {
  background-color: #8dbf43;
  height: 80px;
  line-height: 80px;
  border-radius: 5px 5px 0px 0px;
}
.logo-image {
  line-height: 60px;
}
.logo-image span,
.logo-image small {
  display: none;
}
.login-inner-wrapper .logo-image {
  background: transparent;
  width: auto;
  border-radius: 0;
}
.logo a {
  display: inline-block;
  line-height: 1;
  margin: 0;
}
.login-wrapper .vh-min-100 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
.login-wrap.border-bot{
    .alert-success{
      p{
        display: inline-block;
        width: calc(100% - 20px);
        background: transparent;
        border: navajowhite;
        color: #333;
        vertical-align: top;
        padding: 0;
        margin: 0;
      }
      .fa-info-circle {
        display: inline-block;
        margin-right:5px;
      }

    }
}
@media (max-width: 1199px){
  div.page-wrapper {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .login-wrapper .login-grid {
    display: flex;
    flex-wrap: inherit;
  }

  .login-wrapper .column-fixed {
    min-width: 254px;
    margin: 0 72px;
    width: 254px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .login-wrapper .Site-content {
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    align-items: center;
  }

  .login-wrapper .login-inner-wrapper .login-form-module .login-wrap {
    min-width: 254px;
  }

  .login-wrapper .login-inner-wrapper .login-form-module .reset {
    margin-top: 40px;
  }

  .login-wrapper .login-inner-wrapper #system-message-container .alert {
    margin: 50px 5px 5px;
    width: 254px;
    font-size: 11px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .login-wrapper .visible-xs {
    display: block;
  }

  .login-wrapper .column-flexible {
    padding: 20px 20px 0;
  }

  .position-absolute a.btn.dropdown-toggle {
    padding: 5px 3px;
    margin-right: 17px;
  }

  .login-wrapper .position-absolute {
    right: 0px;
    top: 14px;
  }

  .login-wrapper .mx-15 {
    max-width: 18px;
    margin-right: 5px;
  }

  .login-wrapper .other-links.form-group.pt-25 {
    padding-top: 0;
  }

  .login-wrapper .mob-pb-10 {
    padding-bottom: 10px;
  }
  .login-wrapper .column-fixed {
    width: 100%;
    display: block;
    min-height: auto;
  }

  .login-wrapper .mb-shift {
    text-align: center;
    font-size: 9px;
    margin-bottom: 20px;
  }

  .login-wrapper .column-flexible .fixed-response > img {
    position: relative;
  }

  .login-wrapper .login-inner-wrapper .login-form-module .login-wrap {
    padding: 25px 20px 10px;
  }
  .login-wrapper .column-flexible h1 {
    font-size: 20px;
  }
  .login-wrapper h3.login-top-title {
    margin-top: 0;
  }
  .login-wrapper .login-bottom-block.visible-xs {
    background: #ffffff;
    color: #646566;
    margin: 20px -20px 0;
  }
  .login-wrapper .login-header-block.mob-header{
    background: #8ebf43;
    padding: 5px 20px;
  }

  .login-inner-wrapper .login-header-block .logo-image {
    line-height: 45px;
    height: auto;
  }

}

@media only screen and (max-width: 568px)  {
  .login-bottom-block .logo .logo-image {
    line-height: 81px;
  }
}
@media only screen and (max-width: 414px)  {
  .login-bottom-block .logo .logo-image {
    line-height: 78px;
  }
}
@media only screen and (max-width: 412px)  {
  .login-bottom-block .logo .logo-image {
    line-height: 81px;
  }
}
@media only screen
and (min-device-width: 640px)
and (max-device-width: 731px)
and (orientation: landscape) {
  .login-bottom-block .logo .logo-image {
    line-height: 78px;
  }
}
