@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Light.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Medium.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

// Exo @font-face

@font-face {
    font-family: 'Exo';
    src: url('../../fonts/exo/Exo-Bold.woff2') format('woff2'),
        url('../../fonts/exo/Exo-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Exo';
    src: url('../../fonts/exo/Exo-Regular.woff2') format('woff2'),
        url('../../fonts/exo/Exo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
